@import "../../../core/ui/style/reference/media-query";
.predict-sentence-submit-button {
  width: 100%;
}
.predict-sentence-form {
  width: 75%;
  margin: 0 auto;
  padding-top: 50px;
}
.predict-sentence-submit-button {
  width: 50%;
  margin:  15px auto;
  font-family: var(--font-family);
}
.predict-sentence-form-input-query {
  width: 100%;
  font-size: 20px;
  .input {
    padding-left: 30px;
  }

  .input-container-left-icon {
    position: absolute;
  }
}

.predict-sentence-form-title {
  text-align: center;
  margin: 15px;
  font-size: 45px;
  font-weight: 900;
}
.predict-sentece-form-error {
  text-align: center;
  color: var(--red);
  margin: 15px;
}
