/* stylelint-disable color-no-hex */

:root {
    --gray: #d0d0d0;
    --secondary-dark-gray: #989898;
    --light-gray: #f4f4f4;
    --secondary-light-gray: #f8f8f8;
    --black: #1e1e1e;
    --secondary-black: #373737;
    --ocean-blue: #4c8098;
    --gold: #9b8c5b;
    --light-beige: #f2ede2;
    --red: #e83434;
    --secondary-red: #e84d24;
  
    --invalid-text-color: #a43030;
  }
  
  /* stylelint-enable color-no-hex */
  